/bin
/include
/legacy_code
/lib
/lib64
Matriz_Confusao/*
Resultados_OCR/*
/share
/2-PaddleGUI_JSON_stable.py
/validacao_manual
pyvenv.cfg
path.py
__pycache__
/Modulos/tab_result.py
processa_imagens.sh
/saida_processada